span{
    margin: 20px;
    font-weight: bold;
}

header{
    text-align: right;
    height: 30px;
    background-color:#225354;
    color: white;
    font-size: 10px;
    margin: 0px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    color: white;
}