
<div class="row">
    <div class="col-md-6">
        <img src="assets/bachat-gat-login-page.png" alt="Sample Image">
    </div>
    <div class="col-md-6">
        <div class="mt-5">
            <button type="button" class="btn btn-warning btn-block w-50">STUDENT</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-block w-25">BANK</button><br><br>
        </div>


        <div class="row mt-2+ " style="margin-right: 5px;">
            <div class="col-md-12 ">
                <p>NEW USER? REGISTER NOW</p>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email ID " class="form-control input-sm"><br>
                </div>
                

                <input type="password" name="password" placeholder="Your Password" class="form-control"><br>

                <input type="text" name="text" disabled>&nbsp;
                
                <!-- <button type="button" class="btn btn-warning">Refresh</button>   -->
                <button class="my-class">Refresh</button><br><br>
                
                <input type="text" name="captcha" placeholder="Enter above captcha" class="form-control"><br>
    
                <button type="button" class="btn btn-secondary btn-sm">Login</button>&nbsp;
                <button type="button" class="btn btn-secondary btn-sm">Clear</button><br><br>

                <span>Forgot Password? | Resend Activation Link</span><br><br>

                <button type="button" class="btn btn-warning btn-block w-25">APPLY FOR PAN</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-block w-25">APPLY FOR SCHOLARSHIP</button><br><br>
                 
                <div>If you wish to avail subsidy related education loan scheme, then please apply through</div>
            
            </div>
        </div>

    </div>
</div>